html{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(6,50,75);
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    padding: 10px;
    border-radius: 5px;
}

header, footer {
    height: 70px;
    color: rgb(256, 256, 256);
    background-color: rgb(3,37,56);
}

/*-------FOOTER-------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-left-content,
.header-right-content{
    display: flex;
    align-items: center;
}

.header-right-title{
    margin-right: 10px;
}

.header-title{
    padding-left: 5px;
}

.header-title{
    color: white;
    margin: 0;
}

.header-title-u{
    color: blue;
}

.header-title-a{
    color: yellow;
}

.login-btn, .registry-btn, .logout-btn{
    font-weight: bold;
    border: none;
    color: rgb(3,37,56);
}

.login-btn{
  background-color: white;
  margin-right: 4px;
}

.registry-btn{
    background-color: rgb(46,209,165);
}

.logout-btn{
    background-color: rgb(233,79,55);
}
/*-------FOOTER-------*/

footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

#facebook,
#instagram,
#github,
#linkedin{
    color: white;
    font-size:24px;
    margin: 0 10px;
}

